@import "tailwindcss";



* {
    box-sizing: border-box;
    cursor:none;
}

html,
body,
main {
    height: 100%;
    color: white;
    width: 100%;
    font-family: 'Funnel Sans', Arial, sans-serif;
    background: #000;
}

.aboutMern h1 {
    font-family: "Playpen Sans", cursive;
    font-weight: 400;
    font-style: italic;
}

.header {
    font-family: "Nosifer",sans-serif;
    font-weight: 400;
    font-style: normal;
}